.navbar_brand {
    font-size: 2rem;
    margin-right: 40px;
    color: black;
    text-decoration: none;
}

.nav_link {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.navbar {
    :hover {
        color: black;
    }
}

.navbar {

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .header {

            display: flex;
            width: 100%;
            align-items: end;
            
            .cartWidget {
                padding: 10px 0 0 190px;
            }
        }

        
            .logout {
                padding-top: 20px;
                width: 100%;
                display: flex;
                justify-content: start;

                .parrafo{
                    display: flex;
                    flex-direction: column;
                }
            }
    }
}