.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .contenedor_form {
        padding: 20px;
        width: 500px;
    }
}
